{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Questionnaire - Partie 2
{% endblock %}

{% block content %}
<p>Veuillez répondre aux questions suivantes.</p>


<table>
    <tr>
        <td>
            {% formfield player.crt_q1%}
        </td>
    </tr>
    <tr>
    <td>
        {% formfield player.crt_q2%}
    </td>
    </tr>
    <tr>
    <td>
        {% formfield player.crt_q3%}
    </td>
    </tr>
    <tr>
    <td>
        {% formfield player.crt_q4%}
    </td>
    </tr>
</table>
<br>
    {% next_button %}

{% endblock %}


{% block styles %}
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width: 75%;
    }

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}