{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bienvenue
{% endblock %}

{% block content %}
<p>
    Bienvenue ! Merci de participer à cette expérience.
</p>
<p>
    Votre participation à cette expérience est entièrement volontaire.
</p>
<p>
    Veuillez éteindre votre téléphone portable et ne pas communiquer avec les autres participants jusqu'à la fin de la session.
    Si vous avez des questions, vous pouvez à tout moment lever la main ou appuyer sur le bouton rouge situé sur le côté de votre bureau.
    Nous viendrons vous répondre individuellement.
    </p>
<p>
    Au cours de cette session, vous allez prendre plusieurs décisions. Ces décisions peuvent vous rapporter de l'argent.
    Indépendamment de ces décisions, vous recevrez 5 euros pour vous être présenté à l'heure.
    Cette expérience est composée de plusieurs parties.
    Toutes les instructions seront affichées sur votre écran. Cliquez sur Suivant pour continuer.
</p>


    {% next_button %}

{% endblock %}
