{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>
    In this part of the experiment you will participate in a market game.
    Before playing the game, you must read the instructions and answer some questions to show that you have understood the rules of the game.
    Please read the instructions below. When you are ready to continue, click the Next button.
</p>
<br>
 <iframe src="{% static "part1.pdf" %}" frameborder="0"></iframe>

{% next_button %}
{% endblock %}

{% block styles %}
    <style>
        iframe {
            width: 100%;
            height: 85vh;
            padding-bottom: 15px;
        }
    </style>
{% endblock %}


