{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>
    Dans cette partie de l'expérience, vous allez participer à un jeu de marché.
    Avant de jouer, vous devez lire les instructions et répondre à quelques questions pour montrer que vous avez compris les règles du jeu.
    Si vous répondez correctement à toutes les questions vous recevrez 1 euro supplémentaire.
</p>
<p>
    Veuillez lire les instructions ci-dessous.
    Lorsque vous êtes prêt à continuer, cliquez sur le bouton Suivant.
</p>
<br>
 <iframe src="{% static "part1.pdf" %}" frameborder="0"></iframe>

{% next_button %}
{% endblock %}

{% block styles %}
    <style>
        iframe {
            width: 100%;
            height: 85vh;
            padding-bottom: 15px;
        }
    </style>
{% endblock %}


