{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questions
{% endblock %}

{% block content %}

{% if subsession.round_number == 1 %}
<p>Avant de poursuivre, veuillez répondre aux questions suivantes.
    Vous recevrez un bonus de 0.25 euro pour chaque réponse correcte qui s’ajoutera à vos gains à la fin de l’expérience.
</p>
{% endif %}

<table>
  <tr>
    <td>{% formfield player.answer label="Laquelle des affirmations suivantes est correcte ?"%}</td>
  </tr>
</table>

<br>

{% next_button %}

{% endblock %}


{% block styles %}
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width: 75%;
    }

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}
