{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% if subsession.round_number == 1 %}
Période 1 (Entraînement)
{% else %}
Période {{subsession.round_number}}
{% endif %}
{% endblock %}

{% block content %}

{% if subsession.round_number == 1 %}
<p>C'est une période d'entraînement.
Et ne peut donc être sélectionné pour calculer vos paiements finaux.</p>
{% endif %}

    <p>Lors de cette période, les actifs ont les gains suivants :</p>

    <div class="row" align="center">
        <div class="column">
            <table>
                <tr>
                    <td colspan="3">Actif X</td>
                </tr>
              <tr>
                <td>Gain</td>
                <td>{{structure.X.payoffs.0}}</td>
                  <td>{{structure.X.payoffs.1}}</td>
              </tr>
              <tr>
                <td>Chance</td>
                <td>{{structure.X.probabilities.0}}%</td>
                  <td>{{structure.X.probabilities.1}}%</td>
              </tr>
            </table>
        </div>
        <div class="column">
            <table>
                <tr>
                    <td colspan="3">Actif Y</td>
                </tr>
              <tr>
                <td>Gain</td>
                <td>{{structure.Y.payoffs.0}}</td>
                  <td>{{structure.Y.payoffs.1}}</td>
              </tr>
              <tr>
                <td>Chance</td>
                <td>{{structure.Y.probabilities.0}}%</td>
                  <td>{{structure.Y.probabilities.1}}%</td>
              </tr>
            </table>
        </div>
        <div class="column">
            <table>
                <tr>
                    <td colspan="3">Actif Z</td>
                </tr>
              <tr>
                <td>Gain</td>
                <td>{{structure.Z.payoffs.0}}</td>
              </tr>
              <tr>
                <td>Chance</td>
                <td>{{structure.Z.probabilities.0}}%</td>
              </tr>
            </table>
        </div>
    </div>

    <br>
    <p>Vous commencerez cette période avec les dotations suivantes:</p>

    <table align="center">
        <tr>
            <td>Argent</td>
            <td>Actif X</td>
            <td>Actif Y</td>
            <td>Actif Z</td>
        </tr>
        <tr>
            <td>{{endowment_cash}}</td>
            <td>{{endowment_A}}</td>
            <td>{{endowment_B}}</td>
            <td>{{endowment_C}}</td>
        </tr>
    </table>

    <br>
    <p>Une fois que vous et les autres participants aurez cliqué sur le bouton "Suivant", la période commencera.</p>


    {% next_button %}
{% endblock %}

{% block styles %}
    <style>
        tablex, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        .row {
          display: flex;
          margin-left:-5px;
          margin-right:-5px;
        }

        .column {
          flex: 30%;
          padding: 5px;
        }
    </style>

{% endblock %}