{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_etf_cda/etf_interface.js"></script>
    <script type="module" src="/static/otree_etf_cda/currency_scaler.js"></script>
    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}

{% block content %}

    <!-- hide otree title tag to make more room for interface -->
    <style>
        h2.otree-title.page-header {
            display: none;
        }
    </style>

    <disable-interface-overlay
    ></disable-interface-overlay>

    <currency-scaler
        factor="{{ subsession.config.currency_scale }}"
    ></currency-scaler>

    <etf-interface
        asset-structure="{{ asset_structure }}"
        state-probabilities="{{ state_probabilities }}"
    ></etf-interface>

{% endblock %}
